body{
  background-color: #0b0b0c;
  background-position: center;
  height: auto;
  margin: 0;
  padding: 0;
  display: auto;
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.6;
  transition: opacity 0.5s;
background-image: url('bg2.jpg');
background-size: cover;
background-repeat: no-repeat;
justify-content: space-between;
position: relative;
width: auto;
border: none;
z-index: -1;
}
body::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: inherit;
background-size: cover;
background-repeat: no-repeat;
filter: blur(5px);
z-index: -1;
}

header {
  display: flex;
  position: relative;
  width: auto;
  text-align: center;
  border: none;
}

@media (max-width: 600px) {
header {
font-size: 14px;
}
}

@media (min-width: 601px) and (max-width: 900px) {
header {
font-size: 18px;
}
}

.header-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: lighter;
  width: auto;
  text-decoration: none;
  margin-left: 12%;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .header-text {
      margin-left: 5%;
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .header-text {
      margin-left: 3%;
  }
}


h2 {
  font-weight: lighter;
}

@media (max-width: 768px) {

  .header-text {
      margin-left: 30%; /* Adjust as needed for smaller screens */
  }
}

@media (max-width: 576px) {
  .header-text { 
      margin-left: 20%; /* Adjust as needed for even smaller screens */
    }
  }

.image-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 10px rgba(215, 125, 105, 0);
  padding-top: 10%;
  padding-left: 20px;
}

.image-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 10px rgba(215, 125, 105, 0);
  padding-top: 10%;
  padding-right: 30px;
}



.image-container {
  width: 80%;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .image-container {
      width: 200%; /* Adjust width for smaller screens */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .image-container {
      width: 400%; /* Adjust width for even smaller screens */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 476px) {
  .image-container {
      width: 400%; /* Adjust width for even smaller screens */
  }
}


/* Media query for screens smaller than 576px */
@media (max-width: 476px) {
  .image-container {
      width: 500%; /* Adjust width for even smaller screens */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 231px) {
  .image-container {
      width: 300%; /* Adjust width for even smaller screens */
  }
}

@media (max-width: 176px) {
  .image-container {
      width: 300%; /* Adjust width for even smaller screens */
  }
}


nav {
  display: flex;
  align-items: right; /* Vertically center items */
  width: auto;
}


.dropbtn {
  background-color: #0b0b0c00;
  color: white;
  padding-right: 20%;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 15%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c046b6;
}

.header-a {
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.header-a:hover {
  color: rgb(110, 102, 102);
}

  .mainP {
      text-decoration: underline;
      }


      /* Media query for header text */
@media (max-width: 600px) {
  .header-text {
    margin-left: 5%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .header-text {
    margin-left: 10%;
  }
}

@media (max-width: 768px) {
  .header-text {
    margin-left: 15%;
  }
}

@media (max-width: 576px) {
  .header-text {
    margin-left: 10%;
  }
}

/* Media query for image containers */
@media (max-width: 768px) {
  .image-left,
  .image-right {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 576px) {
  .image-left,
  .image-right {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Media query for dropdown content */
@media (max-width: 600px) {
  .dropdown-content {
    right: -50%; /* Adjusted right property for better visibility on small screens */
    min-width: 150px;
  }
}

@media (max-width: 576px) {
  .dropdown-content {
    right: -70%; /* Further adjusted for smaller screens */
  }
}

.img-border {
    padding-top: 30%;
    padding-left: 20%;
    width: 80px;
    height: 40px;
            }

/*END OF HEADER*/  

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 400%;
    background: linear-gradient(to right, #00e1fd, #fc007a); /* Replace these colors with your desired gradient */
    -webkit-background-clip: text; /* Clip text to the background */
    color: transparent; /* Make the text transparent */
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    text-align: center;
    color: rgb(3, 3, 3);
    margin: 10px; /* Adjust the value as needed */
    font-weight: lighter; 
}

b {
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*START OF SCROLL SECTIOM */

.tabs {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 35px;
  margin: 20px; /* Adjust the value as needed */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .tabs {
      margin: 10px; /* Adjust the margin for smaller screens */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .tabs {
      margin: 5px; /* Further adjust the margin for even smaller screens */
  }
}


.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #90CAF9;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
  color: rgb(3, 3, 3);
  transition: background ease 0.2s;
  border-radius: 15px 15px 0 0; /* Rounded top corners */
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  background-color: var(--bg);
  border-radius: 0 20px 20px 20px; /* Rounded bottom corners */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .tabs label {
      padding: 0.8rem 1.5rem; /* Adjust padding for smaller screens */
      font-size: 90%; /* Adjust font size for smaller screens */
  }

  .tabs .tab {
      padding: 0.8rem; /* Adjust padding for smaller screens */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 76px) {
  .tabs label {
      padding: 0.6rem; /* Further adjust padding for even smaller screens */
      font-size: 80%; /* Further adjust font size for even smaller screens */
  }

  .tabs .tab {
      padding: 0.1rem; /* Further adjust padding for even smaller screens */
  }
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  background-color: var(--bg);
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .tabs input[type="radio"] {
      display: none; /* Adjust display for smaller screens if needed */
  }

  .tabs input[type="radio"]:checked + label {
      background-color: var(--bg); /* Adjust background color for smaller screens */
  }

  .tabs input[type="radio"]:checked + label + .tab {
      display: block; /* Adjust display for smaller screens if needed */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .tabs input[type="radio"]:checked + label {
      background-color: var(--bg); /* Further adjust background color for even smaller screens */
  }

  .tabs input[type="radio"]:checked + label + .tab {
      display: block; /* Further adjust display for even smaller screens if needed */
  }
}


@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 20%;
        margin-right: 0;
        margin-top: 0.2rem;
        border-radius: 35px 35px 0 0; /* Rounded top corners */
    }
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column size as needed */
}

p {
  font-size: 60%;
  text-align: justify;
  color: white;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  p {
      font-size: 20%; /* Adjust font size for smaller screens */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  p {
      font-size: 5%; /* Further adjust font size for even smaller screens */
  }
}

/**
 * START OF EDUCATION 
*/
/*works janky on mobile :<*/

.containerheader {
    display: flex; 
    flex-wrap: wrap; 
    gap: 2%;
}
.image-container {
    display: block;
    margin: 0 auto;
    width:30%;
    height: 30%;
}
.image-container2 {
    display: block;
    margin: 0 auto;
    width:30%;
    height: 20%;
}
.image-container3 {
    display: block;
    margin: 0 auto;
    width:20%;
    height: 25%;
}
.image-container4 {
    display: block;
    margin: 0 auto;
    width:40%;
    height: 40%;
}

.container1 {
    position: relative;
    width: 20%;
    height: 350px;
    transition: 200ms;
    margin-left: 3%;
  }
  
  .container:active {
    width: 180px;
    height: 245px;
  }
  
  #card {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 700ms;
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  }
  
  .subtitle {
    transform: translateY(160px);
    color: rgb(134, 110, 221);
    text-align: center;
    width: 100%;
  }
  
  .title {
    opacity: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out-out;
    transition-delay: 100ms;
    position: absolute;
    font-size: x-large;
    font-weight: bold;
    color: white;
  }
  
  .tracker:hover ~ #card .title {
    opacity: 1;
  }
  
  #prompt {
    bottom: 8px;
    left: 12px;
    z-index: 20;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms ease-in-out-out;
    position: absolute;
    max-width: 110px;
    color: rgb(255, 255, 255);
  }
  
  .tracker {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
  }
  
  .tracker:hover {
    cursor: pointer;
  }
  
  .tracker:hover ~ #card #prompt {
    opacity: 0;
  }
  
  .tracker:hover ~ #card {
    transition: 300ms;
    filter: brightness(1.1);
  }
  
  .container:hover #card::before {
    transition: 200ms;
    content: '';
    opacity: 80%;
  }
  
  .canvas {
    perspective: 800px;
    inset: 0;
    z-index: 200;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
      "tr-6 tr-7 tr-8 tr-9 tr-10"
      "tr-11 tr-12 tr-13 tr-14 tr-15"
      "tr-16 tr-17 tr-18 tr-19 tr-20"
      "tr-21 tr-22 tr-23 tr-24 tr-25";
  }
  
  #card::before {
    content: '';
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
    filter: blur(2rem);
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: 200ms;
  }
  
  .tr-1 {
    grid-area: tr-1;
  }
  
  .tr-2 {
    grid-area: tr-2;
  }
  
  .tr-3 {
    grid-area: tr-3;
  }
  
  .tr-4 {
    grid-area: tr-4;
  }
  
  .tr-5 {
    grid-area: tr-5;
  }
  
  .tr-6 {
    grid-area: tr-6;
  }
  
  .tr-7 {
    grid-area: tr-7;
  }
  
  .tr-8 {
    grid-area: tr-8;
  }
  
  .tr-9 {
    grid-area: tr-9;
  }
  
  .tr-10 {
    grid-area: tr-10;
  }
  
  .tr-11 {
    grid-area: tr-11;
  }
  
  .tr-12 {
    grid-area: tr-12;
  }
  
  .tr-13 {
    grid-area: tr-13;
  }
  
  .tr-14 {
    grid-area: tr-14;
  }
  
  .tr-15 {
    grid-area: tr-15;
  }
  
  .tr-16 {
    grid-area: tr-16;
  }
  
  .tr-17 {
    grid-area: tr-17;
  }
  
  .tr-18 {
    grid-area: tr-18;
  }
  
  .tr-19 {
    grid-area: tr-19;
  }
  
  .tr-20 {
    grid-area: tr-20;
  }
  
  .tr-21 {
    grid-area: tr-21;
  }
  
  .tr-22 {
    grid-area: tr-22;
  }
  
  .tr-23 {
    grid-area: tr-23;
  }
  
  .tr-24 {
    grid-area: tr-24;
  }
  
  .tr-25 {
    grid-area: tr-25;
  }
  
  .tr-1:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-2:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-3:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-4:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-5:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-6:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-7:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-8:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-9:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-10:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-11:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-12:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-13:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-14:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-15:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-16:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-17:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-18:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-19:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-20:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-21:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-22:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-23:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-24:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-25:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .noselect {
    -webkit-touch-callout: none;
     /* iOS Safari */
    -webkit-user-select: none;
     /* Safari */
     /* Konqueror HTML */
    -moz-user-select: none;
     /* Old versions of Firefox */
    -ms-user-select: none;
     /* Internet Explorer/Edge */
    user-select: none;
     /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  }

  /*SKILLS*/

  .image-containerSkill {
    display: block;
    margin: 0 auto;
    width:15%;
    height: 100%;
}

.image-containerSkill2 {
  display: block;
  margin: 0 auto;
  width:30%;
  height: 100%;
}

.image-containerSkill3 {
  display: block;
  margin: 0 auto;
  width:70%;
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px; /* Optional: Add padding for better spacing */
}

/* Use flexbox for each td */
td > * {
  display: block;
  margin: 0 auto;
}

/* Optional: Center the content horizontally within each td */
td > h3, td > img {
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 110%;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 120%;
  margin: 0 auto;
}



.container-Skill {
  display: flex;
  gap: 5%;
}

.container-Skill table {
  width: 50%; /* Adjust the width as needed */
}

.container-Skill td {
  text-align: center;
}

.container-Skill h3 {
  margin-bottom: 10px; /* Optional: Add margin to separate h3 from other elements */
}

.container-Skill img {
  display: block;
  margin: 0 auto;
}

.container-Skill h4 {
  margin-top: 5px; /* Optional: Add margin to separate h4 from images */
}

/*START FOR WORKS*/

.image-containerWork {
  display: block;
  margin: 0 auto;
  width:90%;
  height: 100%;
}

.image-containerWork2 {
  display: block;
  margin: 0 auto;
  width:60%;
  height: 100%;
}